{% extends "groups/group_base.html" %}

{% block pregroup %}


<p>
<div class="namecontainer">
  <h1>{{group.name|capfirst}}</h1>

<div class="dummyInline">
{{group.created}}</ul>
</div>
<div class="dummyInline2">
	Member{{ group.members.count|pluralize }} : {{ group.members.count }}
</div>
<div class="dummyInline2">
  Post{{ group.posts.count|pluralize }} : {{ group.posts.count }}
</div>
</div>
<br>
<br>
  <div class="groupcontent">
<br>
<br>
				{% if user in group.members.all %}
          <a href="{% url 'groups:leave' slug=group.slug %}" class="btn btn-lg btn-fill btn-warning"><span class="glyphicon glyphicon-remove-circle"></span> Leave</a>
				{% else %}
					<a href="{% url 'groups:join' slug=group.slug %}" class="btn btn-lg btn-fill btn-warning"><span class="glyphicon glyphicon-ok-circle"></span> Join</a>
				{% endif %}
</div>

</p>
{% endblock %}


{% block group_content %}

<div class="col-md-8">
	{% if group.posts.count == 0 %}
	<h2>No posts in this group yet!</h2>

	{% else %}

		{% for post in group.posts.all %}
			{% include "posts/_post.html" %}
		{% endfor %}

	{% endif %}
</div>
{% endblock %}
